.modal {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid lightgray;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
 
}

.delete-modal{
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #f8f1f1;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
   display: flex;
  align-items: center;
  flex-direction: column;
}

/* =========================
   Modal Title
========================= */
.modal h3 {
  margin: 0 0 25px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

/* =========================
   Labels
========================= */


/* =========================
   Inputs & Select
========================= */

.modal select {
  width: 95.5%;
  height: 30px;
  padding: 0 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 0,5rem;
  background: #ffffff;
  color: #000000;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
}
.input{
width:95.5%;
margin-bottom: 20px;
height: 30px;
border-radius: 0.5rem;
border: 1px solid lightgray;
padding-left: 10px;
margin-top: 10px;

}

.modal input:focus,
.modal select:focus {
  border-color: #000000;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

/* Placeholder */
.modal input::placeholder {
  color: #888888;
}

/* =========================
   Error Message
========================= */
.modal p {
  padding: 10px 12px;
  margin: 0 0 15px;
  border: 1px solid #000000;
  border-radius: 7px;
  background: #f0f0f0;
  color: #000000 !important;
  font-size: 14px;
}

/* =========================
   Buttons
========================= */
.header{
  display: flex;
  justify-content: space-between;


}

.options button {
  min-width: 90px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Add button */
.options button:first-child {
  background: #f8f6f6;
  color: #0a0a0a;
}

.options button:first-child:hover {
  background: #fcf9f9;
}

/* Cancel button */
.options button:last-child {
  background: #0c0c0c;
  color: #d0cece;
}

.options button:last-child:hover {
  background: #3f3f3f;
}

.options{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.delete{
color:#e46565;
border-color: rgb(204, 74, 74);
}
.delete:hover{
  background-color: #f19292;
  color: white;
}
/* =========================
   Mobile
========================= */
@media (max-width: 480px) {
  .modal {
    max-width: calc(100% - 30px);
    padding: 22px;
  }

  .modal h3 {
    font-size: 21px;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn-container button {
    width: 100%;
  }
}